.footer{
    background-color: #F26C4F;
    width: 100%;
    padding: 5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-container{
    display: flex;
    width: 60%;
}
.footer-container p{
    color: rgb(236, 217, 217);
}
.simsuraj, .intouch, .my-services{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.my-services, .intouch{
    margin-left: 20px;
}
.touch{
    display: flex;
    align-items: center;
    gap: 15px;
}
.touch svg{
    width: 25px;
    height: 30px;
    color: black ;
}
.touch h4{
    color: white;
    font-weight: bold;
}
/* .touch p{
    
} */
.my-services a{
    text-decoration: none;
    color: rgb(247, 227, 227);
    font-weight: bold;
    transition: 1s ease;

}
.my-services a:hover{
    color: white;
    transition: 1s ease;
}
.my-services h3, .intouch h3{
    border-bottom: 2px solid black;
}

@media screen and (max-width:950px) {
   .footer{
    width: 100%;
    padding: 1rem;
   } 
   .footer-container{
    width: 98%;
    flex-direction: column;
    gap: 20px;
   }
   .my-services, .intouch{
    margin: 0;
   }
   .simsuraj{
    gap: 5px;
   }
}