.testimonial{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E8F1F9;
    padding: 3rem;
}
.testimonial-container{
    width: 63%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.test-heading{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.slider{
    background-color: white;
    border: 1px solid black;
    text-align: justify;
    padding: 10px 25px;
}
.slider img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.slider-top{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 15px;
}

@media screen and (max-width:950px) {
    .testimonial{
        padding: 3rem 10px;
    }
    .testimonial-container{
        width: 100%;
    }
    .slider h2{
        font-size: large;
    }
}