.about{
    display: flex;
    width: 100%;
    height: 90vh;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.about-content{
    display: flex;
    width: 60%;
    gap: 5rem;
    align-items: center;
}
.about-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about-text h2{
    font-size: 30px;
    font-weight:bold;
    font-family: "Poppins";
}
.about-content p{
    font-family: "Bai-Jamjuree";
    line-height: 40px;
    text-align: justify;
    font-size: 20px;
}
.social-media{
    display: flex;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.social-media a{
    text-decoration: none;
    color:  black;
}
.social-media svg{
    width: 60px;
    height: 60px;
    padding: 15px;
    border-radius: 50%;
    transition: 1s ease;
}
.social-media svg:hover{
    background-color: #F26C4F;
    cursor: pointer;
    margin-top: -5px;
    transition: 1s ease;
}
.about-btn{
    display: flex;
    gap: 3rem;
}
.about-btn button{
    padding: 15px 35px;
    cursor: pointer;
    border: none;
    transition: 1s ease-in-out;

}
.about-btn .hire:hover, .learn-more:hover{
    background-color: rgb(118, 118, 214);
    transition: 1s ease-in-out;
}
.about-btn button a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: 'Poppins';
    font-size: 15px;
}
.hire{
    background-color: #F26C4F;
}
.learn-more{
    background-color: black;
    
}
