@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Inter:wght@400;500;700&family=Outfit:wght@300;400;500&family=Overpass:ital,wght@0,600;1,300&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500&family=Victor+Mono:wght@100;500;700&display=swap');

.hero-content{
    display: flex;
    width: 100%;
    gap: 4rem;
    padding-left: 20rem;
    align-items: center;
}
.hero-content img{
    width: 25%;
}
.content-paragraph{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.content-detail{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.content-detail h2{
    font-family: "Bai-Jamjuree";
    font-size: 40px;
    font-weight: bolder;
}
.content-paragraph button{
    padding: 20px 30px;
    border: 0.5px solid white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    outline: none;
    background-color: #F26C4F;
}
.content-paragraph button:hover{
    background-color: rgb(148, 200, 218);
    color: white;
    font-weight: bold;
}
.stars{
    position: absolute;
    top: 20%;
    left: 5%;
}
.stars img{
    animation: 4s anim infinite;
    width: 150%;
}
@keyframes anim {
    0%{
        transform:translateX(0%);
    }
    20%{
        transform: translateX(60%);
    }
    100%{
        transform: translateX(0%);
    }
}

@media screen and (max-width: 950px) {
    .hero-content{
        flex-direction: column-reverse;
        padding-left: 0;
    }
    .stars{
        display: none;
    }

}


